# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- Poppular languages
- libraries
- Table in markdow
- Arithmatic Expressions

## Author
Pankaj

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Matplotlib
- Numpy

# 
|Data Science Tools|
|------------------|
|Jupyter Notebook |
|R Studio |
|Apache Zepellin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335